*.submit_file
*.todo
*.log
*.pyc
*.jpg
*.svg
*.prototxt
*.caffemodel
*.bak
*~
db*
.DS_Store
.vscode/
.idea/
.ipynb_checkpoints/
data/
examples/
tmp/
mturk_res/
aux/
logs/
env/
docker/
docker_stderror
dependencies/
robustness/
mantranet/
paper/
*.secret
